<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Convidados</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
        integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

</head>

<body>
    <form class="form-inline" method="POST" th:object="${pessoa}"  th:action="@{/pessoas}" style="margin: 20px 0">
        <div class="form-group">
            <input type="text" class="form-control" th:field="*{nome}" placeholder="Nome" />
            <input type="text" class="form-control" th:field="*{idade}" placeholder="Idade" />
            <input type="text" class="form-control" th:field="*{tamanho}" placeholder="Tamanho" />
            <button type="submit" class="btn btn-primary">Adicionar</button>
            </div>
    </form>

    <div class="panel panel-default" style="margin: 10px">
        <div class="panel-heading">
            <h1 class="panel-title">Lista de pessoas</h1>
        </div>
        <div class="panel-body">

            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Idade</th>
                        <th>Tamanho</th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pessoa : ${pessoas}">
                        <td th:text="${pessoa.nome}"></td>
                        <td th:text="${pessoa.idade}"></td>
                        <td th:text="${pessoa.tamanho}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
</body>



</html>